In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy.optimize import minimize
import scipy.stats

In [66]:
df = pd.read_csv('titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### easy  
##### вычислить вероятность выживания, если пассажиру:  
от 0 до 25 лет

In [67]:
df[(df['Age'] > 0) & (df['Age'] < 25)]['Age'].count() / df['Age'].count()

0.38935574229691877

от 25 до 50 лет

In [68]:
df[(df['Age'] >= 25) & (df['Age'] < 50)]['Age'].count() / df['Age'].count()

0.5070028011204482

от 50 лет и старше

In [69]:
df[(df['Age'] >= 50)]['Age'].count() / df['Age'].count()

0.10364145658263306

### medium  
##### вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

**по формуле Байеса**

пусть событие В - "выживаемость" пассажира, тогда:  
b1 - вероятность того, что пассажир выжил /P(B1)/;  
b2 - вероятность того, что пассажир не выжил /P(B2)/;

пусть событие А - пассажир является женщиной, тогда:  
ab1 - вероятность того, что пассажир женщина среди выживших пассажиров /P(A|B1)/  
ab2 - вероятность того, что пассажир женщина среди невыживших пассажиров /P(A|B2)/

тогда по формуле Байеса вероятность того, что пассажир женского пола P(A):  
a = ab1 x b1 + ab2 x b2

In [70]:
b1 = df[(df['Survived'] == 1)]['Survived'].count() / df['Survived'].count()
b2 = df[(df['Survived'] == 0)]['Survived'].count() / df['Survived'].count()
print ('b1 =',round(b1,2),' b2 =', round(b2,2))

ab1 = df[(df['Survived'] == 1) & (df['Sex'] =='female')]['Survived'].count() / df[df['Survived'] == 1]['Survived'].count()
ab2 = df[(df['Survived'] == 0) & (df['Sex'] =='female')]['Survived'].count() / df[df['Survived'] == 0]['Survived'].count()
print ('ab1 =',round(ab1,2),' ab2 =', round(ab2,2))

a = ab1*b1 + ab2*b2
print ('a =',round(a,2))

b1 = 0.38  b2 = 0.62
ab1 = 0.68  ab2 = 0.15
a = 0.35

*но так получается (по аналогии с задачей о стандартных изделиях), что "a" /Р(А)/ - это вероятность того, что случайно взятый пассажир (и среди выживших, и среди невыживших) является женщиной; а задача поставлена другая...    
по условию поставленной задачи уже известно, что пассажир выжил; таким образом, нужно лишь вычислить какая вероятность встретить женщину среди выживших пассажиров, а это соответствует "ab1" /Р(А|B1)/*  
**если исходить из необходимости нахождения P(A) по формуле Байеса, ответ 0,35  
а если исходить из конкретного вопроса (с какой вероятностью пассажир женского пола, если известно, что он выжил) - ответ 0,68**

In [71]:
sss = df[df['Sex'] =='female']['Sex'].count() / df['Sex'].count()
print ('sss =',round(sss,2))

sss = 0.35

### hard  
##### Закон распределения задается функцией плотности

$ f(x) = \lambda e^{-\lambda x}, x &gt; 0 $

$ f(x) = 0, x &lt;= 0 $

##### Найти вероятность того, что событие произойдет при $x \in [1, 2]$  
вероятность - это интеграл функции плотности; соответственно нужно вычислить интеграл для заданной функции

In [72]:
from scipy.integrate import *
import scipy.integrate
from numpy import exp

In [73]:
l=float(input('лямбда='))
a=1
b=2
for x in [a,b]:
    if x>0:
        f= lambda x:l*exp(-l*x)
    else:
        f=0
    intgrl = scipy.integrate.quad(f, a, b)
print(intgrl)

лямбда= 3

(0.04730831619119759, 5.252278189171466e-16)