In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### easy  
##### оценить с помощью доверительных интервалов:  
- выживаемость всех пассажиров (оценить среднее по isSurvived)  
- выживаемость женщин  
- выживаемость людей с каютами первого класса

In [2]:
from scipy.stats import norm

In [6]:
from scipy.stats import t

In [7]:
df = pd.read_csv('titanic/train.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Доверительный интервал вычисляется по формуле:  
    h = Ф(1-u/2)х(std/n^0,5), где  
u - уровень значимости, обозначим через alpha и примем alpha=0,05;  
std - среднеквадратичное отклонение, вычислим с помощью numpy.std();  
n - кол-во элементов.  

Среднее значение /mean/ найдём с помощью numpy.mean()

**выживаемость всех пассажиров**

In [8]:
#если дисперсия известна
np_all = df['Survived'].to_numpy()
alpha = 0.05
std1 = np.std(np_all)
n1 = len(np_all)
mean1 = np.mean(np_all)
h1 = norm.ppf(1 - alpha / 2) * std1 / np.sqrt(n1)

print('с уровнем значимости', alpha, 'шанс выжить для всех пассажиров находится в промежутке от', round(mean1-h1,2), 'до', round(mean1+h1,2))

с уровнем значимости 0.05 шанс выжить для всех пассажиров находится в промежутке от 0.35 до 0.42

In [9]:
#если дисперсия не известна
np_all = df['Survived'].to_numpy()
alpha = 0.05
std1 = np.std(np_all)
n1 = len(np_all)
mean1 = np.mean(np_all)

t.interval(1 - alpha, n1 - 1, loc=mean1, scale=std1)
print('с уровнем значимости', alpha, 'шанс выжить для всех пассажиров находится в промежутке',t.interval(1 - alpha, n1 - 1, loc=mean1, scale=std1))

с уровнем значимости 0.05 шанс выжить для всех пассажиров находится в промежутке (-0.5706279699919354, 1.3383047376687032)

**выживаемость женщин**

In [10]:
#если дисперсия известна
np_fem = df[df['Sex']=='female']['Survived'].to_numpy()
alpha = 0.05
std2 = np.std(np_fem)
n2 = len(np_fem)
mean2 = np.mean(np_fem)
h2 = norm.ppf(1 - alpha / 2) * std2 / np.sqrt(n2)

print('с уровнем значимости', alpha, 'шанс выжить для пассажиров-женщин находится в промежутке от', round(mean2-h2,2), 'до', round(mean2+h2,2))

с уровнем значимости 0.05 шанс выжить для пассажиров-женщин находится в промежутке от 0.69 до 0.79

In [11]:
#если дисперсия не известна
np_fem = df[df['Sex']=='female']['Survived'].to_numpy()
alpha = 0.5
std2 = np.std(np_fem)
n2 = len(np_fem)
mean2 = np.mean(np_fem)

t.interval(1 - alpha, n2 - 1, loc=mean2, scale=std2)
print('с уровнем значимости', alpha, 'шанс выжить для пассажиров-женщин находится в промежутке',t.interval(1 - alpha, n2 - 1, loc=mean2, scale=std2))

с уровнем значимости 0.5 шанс выжить для пассажиров-женщин находится в промежутке (0.4465969924211885, 1.0374794406998304)

**выживаемость людей с каютами первого класса**

In [12]:
#если дисперсия известна
np_fcl = df[df['Pclass']==1]['Survived'].to_numpy()
alpha = 0.05
std3 = np.std(np_fcl)
n3 = len(np_fcl)
mean3 = np.mean(np_fcl)
h3 = norm.ppf(1 - alpha / 2) * std3 / np.sqrt(n3)

print('с уровнем значимости', alpha, 'шанс выжить для пассажиров первого класса находится в промежутке от', round(mean3-h3,2), 'до', round(mean3+h3,2))

с уровнем значимости 0.05 шанс выжить для пассажиров первого класса находится в промежутке от 0.57 до 0.69

In [13]:
#если дисперсия не известна
np_fcl = df[df['Pclass']==1]['Survived'].to_numpy()
alpha = 0.05
std3 = np.std(np_fcl)
n3 = len(np_fcl)
mean3 = np.mean(np_fcl)

t.interval(1 - alpha, n3 - 1, loc=mean3, scale=std3)
print('с уровнем значимости', alpha, 'шанс выжить для пассажиров первого класса находится в промежутке',t.interval(1 - alpha, n3 - 1, loc=mean3, scale=std3))

с уровнем значимости 0.05 шанс выжить для пассажиров первого класса находится в промежутке (-0.32220247183702544, 1.5814617310962849)

##### ответить на вопросы:
**какой вариант оценки доверительных интервалов нужно использовать в данной задаче и почему?**  
Есть два варианта оценки: когда дисперсия известна и когда не известна.  
Выбираем вариант расчёта, когда дисперсия неизвестна, т.к.выживаемость оценивается для гипотетических пассажиров, данных по которым нет в выборке, и дисперсию, соответственно, посчитать нельзя.

**какая из ошибок более критична для данной задачи - I или II рода?**  
В данном случае ошибка первого рода - предположить, что пассажир выживет, а на самом деле он не выживет; ошибка второго рода - предположить, что пассажир не выживет, а он на самом деле выживет.  
Какая ошибка более критична зависит от точки зрения: с точки зрения дара ложной надежды (для родственникиков, например) и последующего разочарования, критичней ошибка первого рода; с точки зрения необходимости найти/подобрать всех выживших пассажиров, критичней ошибка второго рода. Иначе говоря, при допущении ошибки первого рода погибший человек будет считаться выжившим, при допущении ошибки второго рода, выживший пассажир будет считаться погибшим.

### normal  
##### проверить гипотезы:  
- о том, что женщины выживают чаще мужчин с уровнем значимости 0.05;  
- о том, что дети выживают чаще, чем взрослые.  

алгоритм проверки статистических гипотез:
1. формулируем гипотезы H0 и H1  
2. выбираем уровень значимости  
3. определяем статистический критерий  
4. рассчитываем критерий  
5. принимаем решение

**проверка гипотезы о том, что женщины выживают чаще мужчин** 
1. Н0 - "выживаемости" мужчин и женщин равны;  
Н1 - женщины выживают реже мужчин;
2. уровень значимости 0,05;
3. т.к. по факту сравниваюся численные значения (вероятность выживания), следует применить критерий значимости;  
для проверки равенства средних значений в двух выборках принято использовать t-критерий Стьюдента;
4. рассчёт:

In [19]:
from scipy.stats import ttest_ind
from scipy.stats import t
import scipy

In [20]:
sample_fem = df[df['Sex']=='female']['Survived'].to_numpy()
sample_male = df[df['Sex']=='male']['Survived'].to_numpy()

scipy.stats.ttest_ind(sample_fem, sample_male)

Ttest_indResult(statistic=19.29781655012335, pvalue=1.4060661308802594e-69)

5. решение: так как p_value (1.4*10^-69) ниже уровня значимости (0,05), гипотезу Н0 отвергаем, верной является гипотеза Н1 - женщины выживают чаще мужчин

**проверка гипотезы о том, что дети выживают чаще, чем взрослые** 
1. Н0 - "выживаемости" детей и взрослых равны;  
Н1 - дети выживают не чаще, чем взрослые;
2. уровень значимости 0,05;
3. используем t-критерий Стьюдента;
4. рассчёт:

In [21]:
sample_child = df[df['Age']<18]['Survived'].to_numpy()
sample_adult = df[df['Age']>=18]['Survived'].to_numpy()

scipy.stats.ttest_ind(sample_child, sample_adult)

Ttest_indResult(statistic=3.171077486504452, pvalue=0.0015838873450969102)

5. решение: так как p_value (0,0016) ниже уровня значимости (0,05), гипотезу Н0 отвергаем, верной является гипотеза Н1 - дети выживают чаще взрослых

In [285]:
#проверка
xxx = df[(df['Survived'] == 1) & (df['Age'] <18)]['Survived'].count() / df[df['Age'] <18]['Survived'].count()
yyy = df[(df['Survived'] == 1) & (df['Age'] >=18)]['Survived'].count() / df[df['Age'] >=18]['Survived'].count()

xxx, yyy

(0.5398230088495575, 0.3810316139767055)

### hard  
##### задача:  
Мы отобрали 1000 человек, которые заявляют, что они экстрасенсы. Мы хотим проверить это. Для этого проводится следующий эксперимент. Перед каждым участником выкладывают 10 карт рубашкой вверх и просят угадать цвет карты (красный или черный). На уровне значимости 0.01 мы хотим быть уверены, является ли человек экстрасенсом.
Нужно смоделировать ситуацию двумя способами (предполагаем, что экстрасенсов не существует и решения участников представляют из себя биномиальное распределение):  
без множественной проверки гипотез, выявить количество экстрасенсов  
с множественной проверкой гипотез, используя поправку Бонферрони (правило FWER)  
Сколько экстрасенсов получилось поймать в каждом из случаев?

сформируем случайном образом результаты эксперимента:  
'try' - количество верно угаданных карт (0-10)

In [22]:
df1=[]
for i in range(1000):
    tr = np.random.binomial(10, 0.5)
    df1.append(tr)
df_exp = pd.DataFrame({'try':df1})
df_exp

     try
0      3
1      4
2      7
3      4
4      4
..   ...
995    4
996    7
997    4
998    6
999    6

[1000 rows x 1 columns]

вероятность для биномиального распределения можно определить по формуле:  
P = C$_{n}^{k}$ * p$^{k}$ * q$^{n-k}$, где  
    C$_{n}^{k}$ - биномиальный коэффициент, вычисляется по формуле:  
        C$_{n}^{k}$ = ${n! \over k! * (n-k)!}$  
p - вероятность успеха в каждом испытании, p = 0.5  
q - вероятность неудачи в каждом испытании, q = 1-p = 1-0.5 = 0.5  
n - количество испытаний для каждого эксперимента (здесь - количество карт, отгадываемых каждым испытуемым), n = 10  
k - размер выборок (здесь - количество правильно угаданных карт)  

установленный уровень значимости 0,01

с поправкой Бонферрони изначально установленный уровень значимости нужно разделить на количество экспериментов, т.е. в данном случае ${0,01 \over 1000}$ = 1*10$^{-5}$

вероятность должна находится в пределах уровня значимости

таким образом, задача сводится к вычислению k для двух уровней значимости и подсчёта количества результатов с полученными значениями

In [24]:
import math

In [29]:
alpha1 = 0.01
alpha2 = 0.01/1000
n = 10
p = 0.5
q = 1-p

df_k = []
df_P = []
for k in [1,2,3,4,5,6,7,8,9,10]:
    P = (math.factorial(n) / math.factorial(k)*math.factorial(n-k))*p**k*q**(n-k)
    df_k.append(k)
    df_P.append(P)
    print(k,P)
df_res = pd.DataFrame({'k':df_k, 'P':df_P})
#print(df_res)

k1 = df_res[df_res['P']<= alpha1]['k'].min()
k2 = df_res[df_res['P']<= alpha2]['k'].min()

print()
print('для признания испытуемого экстрасенсом при уровне значимости (без поправки Бонферрони) = ',alpha1, ', он должен угадать минимум ', k1,
' карт из десяти; при уровне при значимости (с учётом поправки Бонферрони) = ',alpha2, ', он должен угадать минимум ', k2,
' карт из десяти')

1 1285956000.0
2 71442000.0
3 2976750.0
4 106312.5
5 3543.75
6 118.125
7 4.21875
8 0.17578125
9 0.009765625
10 0.0009765625

для признания испытуемого экстрасенсом при уровне значимости (без поправки Бонферрони) =  0.01 , он должен угадать минимум  9  карт из десяти; при уровне при значимости (с учётом поправки Бонферрони) =  1e-05 , он должен угадать минимум  nan  карт из десяти

таким образом, в первом случае экстрасенсами считаются испытуемые, угадавшие 9 или 10 карт; во втором с выбранным уровнем значимсти в данном эксперименте определить экстрасенса невозможно (остаётся принять, что их нет)

In [28]:
z = df_exp[df_exp['try'] >= 9]['try']
print(z)
print()
print('при уровне значимости (без поправки Бонферрони) = ',alpha1, 'экстрасенсами можно признать',z.count(),'испытуемых')

40      9
139     9
201     9
224     9
355     9
357    10
368     9
433     9
458     9
499    10
543     9
735     9
900     9
Name: try, dtype: int64

при уровне значимости (без поправки Бонферрони) =  0.01 экстрасенсами можно признать 13 испытуемых