In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy.optimize import minimize
import scipy.stats

In [8]:
df = pd.read_csv('titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### easy  
##### вычислить вероятность выживания, если пассажиру:  
от 0 до 25 лет

In [13]:
df[(df['Age'] >= 0) & (df['Age'] < 25)]['Age'].count() / df['Age'].count()

0.38935574229691877

от 25 до 50 лет

In [14]:
df[(df['Age'] >= 25) & (df['Age'] < 50)]['Age'].count() / df['Age'].count()

0.5070028011204482

от 50 лет и старше

In [15]:
df[(df['Age'] >= 50)]['Age'].count() / df['Age'].count()

0.10364145658263306

### medium  
##### вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

**по формуле Байеса**

пусть событие A - "выживаемость" пассажира, а событие B - пассажир является женщиной, тогда:  

b1 - вероятность того, что пассажир женщина среди всех пассажиров /P(B1)/;  
b2 - вероятность того, что пассажир мужчина среди всех пассажиров /P(B2)/;

аb1 - "выживаемость" пассажиров-женщин /P(AB1)/;  
аb2 - "выживаемость" пассажиров-мужчин /P(AB2)/;

а - вероятность того, что пассажир выжил /полная вероятность Р(А)/;
по формуле Байеса:  
a = ab1 x b1 + ab2 x b2

необходимо определить, какова вероятность того, что пассажир женского пола, если известно, что он выжил; т.е. известно, что событие А наступило, необходимо найти /Р(В1А)/:  
b1a = ab1 x b1 / a

In [16]:
b1 = df[(df['Sex'] =='female')]['Sex'].count() / df['Sex'].count()
b2 = df[(df['Sex'] =='male')]['Sex'].count() / df['Sex'].count()
print ('b1 =',round(b1,2),' b2 =', round(b2,2))

ab1 = df[(df['Survived'] == 1) & (df['Sex'] =='female')]['Sex'].count() / df[(df['Sex'] =='female')]['Sex'].count()
ab2 = df[(df['Survived'] == 1) & (df['Sex'] =='male')]['Sex'].count() / df[(df['Sex'] =='male')]['Sex'].count()
print ('ab1 =',round(ab1,2),' ab2 =', round(ab2,2))

a = ab1*b1 + ab2*b2
print ('a =',round(a,2))

b1a = ab1*b1/a
print ('b1a =',round(b1a,2))

b1 = 0.35  b2 = 0.65
ab1 = 0.74  ab2 = 0.19
a = 0.38
b1a = 0.68

### hard  
##### Закон распределения задается функцией плотности

$ f(x) = \lambda e^{-\lambda x}, x &gt; 0 $

$ f(x) = 0, x &lt;= 0 $

##### Найти вероятность того, что событие произойдет при $x \in [1, 2]$  
вероятность - это интеграл функции плотности; соответственно нужно вычислить интеграл для заданной функции

In [17]:
from scipy.integrate import *
import scipy.integrate
from numpy import exp

In [18]:
l=float(input('лямбда='))
a=1
b=2
for x in [a,b]:
    if x>0:
        f= lambda x:l*exp(-l*x)
    else:
        f=0
    intgrl = scipy.integrate.quad(f, a, b)
print(intgrl)

лямбда= 5

(0.006692547069322982, 7.430219849749989e-17)