In [276]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### easy  
##### оценить с помощью доверительных интервалов:  
- выживаемость всех пассажиров (оценить среднее по isSurvived)  
- выживаемость женщин  
- выживаемость людей с каютами первого класса

In [277]:
from scipy.stats import norm

In [278]:
df = pd.read_csv('titanic/train.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Доверительный интервал вычисляется по формуле:  
    h = Ф(1-u/2)х(std/n^0,5), где  
u - уровень значимости, обозначим через alpha и примем alpha=0,5;  
std - среднеквадратичное отклонение, вычислим с помощью numpy.std();  
n - кол-во элементов.  

Среднее значение /mean/ найдём с помощью numpy.mean()

**выживаемость всех пассажиров**

In [301]:
#если дисперсия известна
np_all = df['Survived'].to_numpy()
alpha = 0.5
std1 = np.std(np_all)
n1 = len(np_all)
mean1 = np.mean(np_all)
h1 = norm.ppf(1 - alpha / 2) * std1 / np.sqrt(n1)

print('с уровнем значимости', alpha, 'шанс выжить для всех пассажиров находится в промежутке от', round(mean1-h1,2), 'до', round(mean1+h1,2))

с уровнем значимости 0.5 шанс выжить для всех пассажиров находится в промежутке от 0.37 до 0.39

In [302]:
#если дисперсия не известна
np_all = df['Survived'].to_numpy()
alpha = 0.5
std1 = np.std(np_all)
n1 = len(np_all)
mean1 = np.mean(np_all)

t.interval(1 - alpha, n1 - 1, loc=mean1, scale=std1)
print('с уровнем значимости', alpha, 'шанс выжить для всех пассажиров находится в промежутке',t.interval(1 - alpha, n1 - 1, loc=mean1, scale=std1))

с уровнем значимости 0.5 шанс выжить для всех пассажиров находится в промежутке (0.0556868823830613, 0.7119898852937063)

**выживаемость женщин**

In [303]:
#если дисперсия известна
np_fem = df[df['Sex']=='female']['Survived'].to_numpy()
alpha = 0.5
std2 = np.std(np_fem)
n2 = len(np_fem)
mean2 = np.mean(np_fem)
h2 = norm.ppf(1 - alpha / 2) * std2 / np.sqrt(n2)

print('с уровнем значимости', alpha, 'шанс выжить для пассажиров-женщин находится в промежутке от', round(mean2-h2,2), 'до', round(mean2+h2,2))

с уровнем значимости 0.5 шанс выжить для пассажиров-женщин находится в промежутке от 0.73 до 0.76

In [304]:
#если дисперсия не известна
np_fem = df[df['Sex']=='female']['Survived'].to_numpy()
alpha = 0.5
std2 = np.std(np_fem)
n2 = len(np_fem)
mean2 = np.mean(np_fem)

t.interval(1 - alpha, n2 - 1, loc=mean2, scale=std2)
print('с уровнем значимости', alpha, 'шанс выжить для пассажиров-женщин находится в промежутке',t.interval(1 - alpha, n2 - 1, loc=mean2, scale=std2))

с уровнем значимости 0.5 шанс выжить для пассажиров-женщин находится в промежутке (0.4465969924211885, 1.0374794406998304)

**выживаемость людей с каютами первого класса**

In [305]:
#если дисперсия известна
np_fcl = df[df['Pclass']==1]['Survived'].to_numpy()
alpha = 0.5
std3 = np.std(np_fcl)
n3 = len(np_fcl)
mean3 = np.mean(np_fcl)
h3 = norm.ppf(1 - alpha / 2) * std3 / np.sqrt(n3)

print('с уровнем значимости', alpha, 'шанс выжить для пассажиров первого класса находится в промежутке от', round(mean3-h3,2), 'до', round(mean3+h3,2))

с уровнем значимости 0.5 шанс выжить для пассажиров первого класса находится в промежутке от 0.61 до 0.65

In [307]:
#если дисперсия не известна
np_fcl = df[df['Pclass']==1]['Survived'].to_numpy()
alpha = 0.5
std3 = np.std(np_fcl)
n3 = len(np_fcl)
mean3 = np.mean(np_fcl)

t.interval(1 - alpha, n3 - 1, loc=mean3, scale=std3)
print('с уровнем значимости', alpha, 'шанс выжить для пассажиров первого класса находится в промежутке',t.interval(1 - alpha, n3 - 1, loc=mean3, scale=std3))

с уровнем значимости 0.5 шанс выжить для пассажиров первого класса находится в промежутке (0.30336404274002815, 0.9558952165192312)

##### ответить на вопросы:
**какой вариант оценки доверительных интервалов нужно использовать в данной задаче и почему?**  
Есть два варианта оценки: когда дисперсия известна и когда не известна.  
Мне казалось, что дисперсия известна, так как в данном случае рассматривается уже призошедшее событие (а не делается прогноз на будущее), дисперсию можно вычислить. К тому же данные по выживаемости могут принимать только два значения (0 и 1), поэтому дисперсия (разброс данных) не может быть большой в принципе.  
Но теперь понятно, что правильный ответ - дисперсия не известна.

**какая из ошибок более критична для данной задачи - I или II рода?**  
В данном случае ошибка первого рода - предположить, что пассажир выживет, а на самом деле он не выживет; ошибка второго рода - предположить, что пассажир не выживет, а он на самом деле выживет.  
Какая ошибка более критична зависит от точки зрения: с точки зрения дара ложной надежды (для родственникиков, например) и последующего разочарования, критичней ошибка первого рода; с точки зрения необходимости найти/подобрать всех выживших пассажиров, критичней ошибка второго рода. Иначе говоря, при допущении ошибки первого рода погибший человек будет считаться выжившим, при допущении ошибки второго рода, выживший пассажир будет считаться погибшим.

### normal  
##### проверить гипотезы:  
- о том, что женщины выживают чаще мужчин с уровнем значимости 0.05;  
- о том, что дети выживают чаще, чем взрослые.  

алгоритм проверки статистических гипотез:
1. формулируем гипотезы H0 и H1  
2. выбираем уровень значимости  
3. определяем статистический критерий  
4. рассчитываем критерий  
5. принимаем решение

**проверка гипотезы о том, что женщины выживают чаще мужчин** 
1. Н0 - женщины выживают чаще мужчин;  
Н1 - женщины выживают реже мужчин;
2. уровень значимости 0,05;
3. т.к. по факту сравниваюся численные значения (вероятность выживания), следует применить критерий значимости;  
для проверки равенства средних значений в двух выборках принято использовать t-критерий Стьюдента;
4. рассчёт:

In [282]:
from scipy.stats import ttest_ind
from scipy.stats import t

In [283]:
sample_fem = df[df['Sex']=='female']['Survived'].to_numpy()
sample_male = df[df['Sex']=='male']['Survived'].to_numpy()

mean = sample_fem.mean()
a0 = sample_male.mean()
std = np.std(sample_fem)
n = len(sample_fem)
alpha = 0.05

t_St = (mean - a0) / (std / (n-1)**0.5)

p0 = t.cdf(t_St, n - 1)
p1 = 1 - t.cdf(t_St, n - 1)
p_value = 2 * min(p0, p1)

print('критерий Стьюдента = ', round(t_St,3), '; p_value = ', round(p_value,3))

критерий Стьюдента =  22.367 ; p_value =  0.0

5. решение: так как p_value (0) ниже уровня значимости (0,05), верной является гипотеза Н0 - женщины выживают чаще мужчин

**проверка гипотезы о том, что дети выживают чаще, чем взрослые** 
1. Н0 - дети выживают чаще, чем взрослые;  
Н1 - дети выживают не чаще, чем взрослые;
2. уровень значимости 0,05;
3. используем t-критерий Стьюдента;
4. рассчёт:

In [284]:
sample_child = df[df['Age']<18]['Survived'].to_numpy()
sample_adult = df[df['Age']>=18]['Survived'].to_numpy()

mean = sample_child.mean()
a0 = sample_adult.mean()
std = np.std(sample_child)
n = len(sample_child)
alpha = 0.05

t_St = (mean - a0) / (std / (n-1)**0.5)

p0 = t.cdf(t_St, n - 1)
p1 = 1 - t.cdf(t_St, n - 1)
p_value = 2 * min(p0, p1)

print('критерий Стьюдента = ', round(t_St,3), '; p_value = ', round(p_value,3))

критерий Стьюдента =  3.372 ; p_value =  0.001

5. решение: так как p_value (0,001) ниже уровня значимости (0,05), верной является гипотеза Н0 - дети выживают чаще, чем взрослые

In [285]:
#проверка
xxx = df[(df['Survived'] == 1) & (df['Age'] <18)]['Survived'].count() / df[df['Age'] <18]['Survived'].count()
yyy = df[(df['Survived'] == 1) & (df['Age'] >=18)]['Survived'].count() / df[df['Age'] >=18]['Survived'].count()

xxx, yyy

(0.5398230088495575, 0.3810316139767055)

### hard (недоделано)  
##### Задача:  
Мы отобрали 1000 человек, которые заявляют, что они экстрасенсы. Мы хотим проверить это. Для этого проводится следующий эксперимент. Перед каждым участником выкладывают 10 карт рубашкой вверх и просят угадать цвет карты (красный или черный). На уровне значимости 0.01 мы хотим быть уверены, является ли человек экстрасенсом.
Нужно смоделировать ситуацию двумя способами (предполагаем, что экстрасенсов не существует и решения участников представляют из себя биномиальное распределение):  
без множественной проверки гипотез, выявить количество экстрасенсов  
с множественной проверкой гипотез, используя поправку Бонферрони (правило FWER)  
Сколько экстрасенсов получилось поймать в каждом из случаев?

сформируем случайном образом результаты эксперимента:  
'try' - количество верно угаданных карт (0-10);  
'magic' - признание способностей (если угадано 9/10 или 10/10, испытуемый признаётся экстрасенсом)

In [294]:
df1=[]
df2=[]

for i in range(1000):
    tr = np.random.binomial(10, 0.5)
    df1.append(tr)
    if tr>=9:
        df2.append(1)
    else:
        df2.append(0)
df1, df2
df_exp = pd.DataFrame({'try':df1, 'magic':df2})
df_exp

     try  magic
0      5      0
1      8      0
2      7      0
3      4      0
4      5      0
..   ...    ...
995    6      0
996    7      0
997    6      0
998    6      0
999    6      0

[1000 rows x 2 columns]

по результатм эксперимента экстрасенсами можно признать

In [295]:
z = df_exp[df_exp['magic'] == 1]['try']
print(z)
print(z.count())

64      9
142     9
187     9
268    10
293     9
334     9
620     9
634     9
648     9
702     9
797     9
836     9
926     9
Name: try, dtype: int64
13

выдвинем гипотезы:  
Н0 - экстрасенсов не существует;  
Н1 - экстрасенсы существуют  
уровень значимости установлен 0,01

**проверка без поправки Бонферрони**

In [296]:
mean = df_exp['magic'].mean()
a0 = 1
std = np.std(df_exp['magic'])
n = len(df_exp['magic'])
alpha = 0.01

t_St = (mean - a0) / (std / (n-1)**0.5)

p0 = t.cdf(t_St, n - 1)
p1 = 1 - t.cdf(t_St, n - 1)
p_value = 2 * min(p0, p1)

print('критерий Стьюдента = ', round(t_St,3), '; p_value = ', p_value)

критерий Стьюдента =  -275.404 ; p_value =  0.0

p_value (0,00) ниже уровня значимости (0,01), верной является гипотеза Н0 - экстрасенсов не существует

**проверка с учётом поправки Бонферрони**:  
изначально установленный уровень значимости нужно разделить на количество экспериментов, т.е. в данном случае 0,01/1000

In [297]:
alpha = 0.01/len(df_exp['magic'])
alpha

1e-05

даже с учётом поправки p_value (0,0) ниже уровня значимости (0,00001), верной является гипотеза Н0 - экстрасенсов не существует

как посчитать количество "пойманных" экстрасенсов с разным уровнем значимости, не понимаю